<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{> header }}
            <img class="portrait" src="/img/robot.png">
            <img src="/img/FSU_seal.png">
        </div>

        {{> footer }}
    </body>
</html>