<!--
    Use .hbs instead of .html to use for the handlebars templating
    VS Code has built-in support for handlebars, as indicated by the mustache logo on the file.
    Handlebars is for dynamic content while the public folder with html is for static content. 
-->

<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{> header }}

            <p>Use this site to get your weather!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        
        {{> footer }}

        <script src="/js/app.js"></script>
    </body>
</html>